---
import Base from '/src/layouts/Base.astro'
import Markdown from '/src/components/Markdown.astro'
import FormattedDate from '/src/components/FormattedDate.astro'
import PostNav from '/src/components/PostNav.astro'
import LeadModal from '/src/components/LeadModal.svelte'
import Freebie from '/src/components/Freebie.astro'

import { normalize } from '../../utils/content.js'
import { getCollection } from 'astro:content'
import ConvertkitForm from '../../components/ConvertkitForm.astro'

// TODO: Perhaps put these components into a single file?
import Image from '/src/components/Image.astro'
import Video from '/src/components/Video.svelte'
import Youtube from '/src/components/Youtube.svelte'
import Codepen from '/src/components/Codepen.astro'
import Button from '/src/components/Button.svelte'
import Callout from '/src/components/Callout.svelte'

const components = { Image, Video, Youtube, Codepen, Button, Callout }

export const prerender = true

export async function getStaticPaths() {
  const posts = await getCollection('articles')
  const normalized = normalize(posts)

  return normalized.map((post, index) => {
    return {
      params: { slug: post.slug },
      props: {
        posts: {
          current: post,
          prev: normalized[index + 1],
          next: normalized[index - 1],
        },
      },
    }
  })
}

const { posts } = Astro.props
const { current: post } = posts
const { Content } = await post.render()
---

<Base {...post.data}>
  <div class="Wrap">
    <article class="PostLayout2">
      <h1><Markdown content={post.data.title} /></h1>

      <div class="PostLayout2-main">
        <div class="o-content PostLayout2-content" style="position: relative">
          <div class="PostLayout2-date">
            <div>
              <strong>Published:</strong>
              <FormattedDate date={post.data.pubDate} />
            </div>
            {
              post.data.updateDate && post.data.updateDate < Date.now() && (
                <div>
                  <strong>Updated:</strong>
                  <FormattedDate date={post.data.updateDate} />
                </div>
              )
            }
          </div>

          <!-- TODO: MEDIA / YOUTUBE / VIMEO / WHATEVER HERE -->
          <Content {components} />
          <PostNav {posts} />
          <!-- <GoogleArticleAd client:load /> -->
        </div>

        <div class="PostLayout2-sidebar">
          <!-- <GoogleSquareAd /> -->
        </div>
      </div>
    </article>
  </div>

  <div class="post-layout">
    <section class="o-content c-ck ck-layout">
      {
        post.data.leadModal && (
          <div class="uInlineSize">
            <Freebie name={post.data.leadModal} tag="h2" />
          </div>
        )
      }

      {!post.data.leadModal && <ConvertkitForm name={post.data.ckForm} />}
    </section>
  </div>

  <LeadModal client:load>
    {
      post.data.leadModal && (
        <Freebie class="mMQ" name={post.data.leadModal} tag="h2" />
      )
    }

    {!post.data.leadModal && <ConvertkitForm name={post.data.ckForm} />}
  </LeadModal>
</Base>
