---
import { components } from '@/components/blogPostComponents.js'
import PrevNextNav from '@/components/PrevNextNav.astro'
import Base from '@/layouts/Base.astro'
import { Markdown, Partial, SVG } from '@splendidlabz/astro'
import { processFiles } from '@splendidlabz/astro/content'
import { ContentList } from '@splendidlabz/svelte'
import { getCollection, render } from 'astro:content'
import { formatDate } from 'date-fns'

export const prerender = true

export async function getStaticPaths() {
  const files = await getCollection('blog')
  const posts = await processFiles(files, { filter: false })

  // Need to change this to include the data.url...
  // For those that have data url, they are external links, so we redirect them there instead.
  const localPosts = posts.filter(post => !post.data.url)

  return localPosts.map((post, index) => {
    let prev = posts[index + 1]
    let next = posts[index - 1]
    const now = new Date()

    // Prevents prev and next posts from being shown if they're in the future
    // Only on production builds.
    // So we can still test them easily in development.
    if (import.meta.env.PROD) {
      if (prev && now < new Date(prev.data.date)) prev = null
      if (next && now < new Date(next.data.date)) next = null
    }

    return {
      params: { slug: post.data.slug },
      props: {
        posts: {
          current: post,
          prev,
          next,
        },
      },
    }
  })
}

const { posts } = Astro.props
const { current: post } = posts
const { Content } = await render(post)

const dateText =
  post.data.updateDate && post.data.updateDate < Date.now()
    ? 'Updated'
    : 'Published'

const SEOProps = {
  OGImageUrl: `/og/${post.data.slug}.png`,
  OGImageAlt: post.data.title,
}
---

<Base {...post.data} {...SEOProps}>
  <div class="wrap">
    <article class="article grid-content-sidebar">
      <header>
        <div class="meta">
          <div class="text-zgray-500">
            {dateText} on
            {formatDate(post.data.date, 'MMM d, yyyy')}
          </div>

          <div class="flow gap-[0.25em] text-zgray-500">
            <span>Filed under: </span>
            {
              post.data.tags.map((tag, index) => {
                const isLast = index === post.data.tags.length - 1
                // prettier-ignore
                return (
                  <div>
                    <a class="pigment-gray-text underline" href={`/tags/${tag.toLowerCase()}/`}>#{tag.toLowerCase()}</a>{!isLast && <span>, </span>}
                  </div>
                )
              })
            }
          </div>
        </div>
        <hgroup>
          <h1 class="h1">
            <Markdown inline>{post.data.title}</Markdown>
          </h1>
        </hgroup>
      </header>

      <div></div>

      <div id="content" class="content prose-responsive">
        <Content {components} />
      </div>

      <div class="w-[10rlh] max-w-full max-bp10:hidden">
        <ContentList
          class="content-list sticky top-4"
          label="On This Page"
          selector="#content"
          listClass="indentlist"
          client:idle
        />
      </div>

      <div class="[--span:2]">
        <PrevNextNav prev={posts.prev} next={posts.next} />
      </div>
    </article>
  </div>

  <div class="mt-section">
    <SVG class="rotate-180 simple-svg stroke-zred-500" icon="wriggle-line" />
  </div>

  <Partial path="JoinMyNewsletter" />
</Base>
