---
import { Markdown } from '@splendidlabz/astro'
import EmailBase from './EmailBase.astro'

const props = Astro.props
const { name, email, responses = [] } = props
---

<EmailBase {...props}>
  <Markdown>You got a new purchase survey.</Markdown>

  <hr />

  <p>From {name}, {email}</p>

  {
    responses.map((r) => (
      <div key={r.question}>
        <p>
          <strong>{r.question}</strong>
        </p>
        <Markdown>{r.answer}</Markdown>
      </div>
    ))
  }
</EmailBase>
