---
import Basic from '/src/layouts/Basic.astro'
import config from '/site-config.js'
import TrialForm from '/src/components/TrialForm.svelte'
import Input from '/src/components/FormInput.svelte'
import { getFormID } from '/src/components/Convertkit'
import { getEntryBySlug } from 'astro:content'

// Gets endpoint
const apiRoot = config.apiRoot
const endpoint = `${apiRoot}/product/trial`

const { name } = Astro.params
const entry = await getEntryBySlug('freebies', `${name}/signup`)
const { slug, render, data } = entry
const { Content } = await render()
---

<Basic>
  <h1>{data.title}</h1>
  <div class='o-words about-layout'>
    <Content />

    <div>
      <TrialForm
        client:load
        action={endpoint}
        redirectTo={`/freebies/${name}/welcome`}
        numFree={data.numFree}
        buttonText={data.buttonText}
      >
        <Input type='hidden' name='formID' value={data.ckFormID} />
        <Input type='hidden' name='tagID' value={data.ckTagID} />
        <Input type='hidden' name='productCode' value={data.code} />
      </TrialForm>
    </div>
  </div>
</Basic>
