---
import { Partial, SVG } from '@splendidlabz/astro'
import { gatherTags, processFiles } from '@splendidlabz/astro/content'
import { getCollection } from 'astro:content'
import { formatDate } from 'date-fns'
import Base from '/src/layouts/Base.astro'

export const prerender = true

export async function getStaticPaths() {
  const blog = await getCollection('blog')
  const posts = processFiles(blog)
  const tags = gatherTags(posts)

  return tags.map(tag => {
    return {
      params: { tag: tag.name },
      props: { posts: tag.items },
    }
  })
}

const { tag } = Astro.params
const { posts } = Astro.props

const groupedByYear = groupByYear(posts)

function groupByYear(posts) {
  const postsByYear = {}
  for (const post of posts) {
    const year = new Date(post.data.pubDate).getFullYear()
    if (!postsByYear[year]) postsByYear[year] = []
    postsByYear[year].push(post)
  }

  // Reverse posts within each year to get descending order
  for (const year in postsByYear) {
    postsByYear[year].reverse()
  }

  // Return entries sorted by year descending
  return Object.entries(postsByYear).sort((a, b) => Number(b[0]) - Number(a[0]))
}
---

<Base>
  <div class="wrap">
    <section class="vertical max-w-narrow mx-auto">
      <div class="vertical">
        <hgroup class="vertical gap-2">
          <h1>Tagged with #{tag.toLowerCase()}</h1>
          <p class="june text-6 text-zgray-500">
            {posts.length} articles (<a href="/tags">View all tags</a>)
          </p>
        </hgroup>

        <div class="vertical gap-8 mt-4">
          {
            groupedByYear.map(([year, grpPosts]) => {
              return (
                <div class="vertical gap-2">
                  <hgroup class="horizontal gap-2 items-baseline">
                    <h2 class="h3 text-zorange-500">{year}</h2>
                    <p class="june text-6 text-zgray-500">
                      ({grpPosts.length} posts)
                    </p>
                  </hgroup>
                  <div class="blog-list">
                    {grpPosts.map(post => {
                      return (
                        <div class="blog-list-item">
                          <div class="date">
                            {formatDate(post.data.date, 'dd MMM')}
                          </div>
                          <div class="vertical gap-0.25">
                            <a class="title" href={`/blog/${post.data.slug}`}>
                              {post.data.title}
                            </a>
                            <span class="meta">
                              {post.data.tags.map((tag, index) => {
                                const isLast =
                                  index === post.data.tags.length - 1
                                // prettier-ignore
                                return (
                                  <span>
                                    <a class="tag" href={`/tags/${tag.toLowerCase()}`}>#{tag.toLowerCase()}</a>{!isLast && <span>,</span>}
                                  </span>
                                )
                              })}
                            </span>
                          </div>
                        </div>
                      )
                    })}
                  </div>
                </div>
              )
            })
          }
        </div>
      </div>
    </section>
  </div>

  <div class="mt-section">
    <SVG class="rotate-180 simple-svg stroke-zred-500" icon="wriggle-line" />
  </div>

  <Partial path="JoinMyNewsletter" />
</Base>
