---
import { Image, Markdown, Partial } from '@splendidlabz/astro'
import { processFiles } from '@splendidlabz/astro/content'
import { getCollection } from 'astro:content'
import { now } from '../content/data/now'
import Base from '../layouts/Base.astro'

const files = await getCollection('blog')
const posts = (await processFiles(files)).slice(0, 9)

export const prerender = true
---

<Base bodyClass="home-page [--radius:1.25rlh]">
  <section class="section">
    <div class="wrap">
      <div class="grid-simple bp11:[--cols:3] gap-large max-w-standard mx-auto">
        <div class="vertical bp11:[--span:2] gap-large">
          <div class="vertical">
            <div class="vertical relative">
              <hgroup class="max-bp6:text-center">
                <h1 class="h1 text-zpurple-500">Heya, I'm Zell</h1>
                <p class="h1-subhead">Welcome to my corner of the internet</p>
              </hgroup>
              <Image
                figureClass="-order-1 mx-auto bp6:pos-right -z-1 max-w-[12rem] bp8:max-w-[16rem]"
                class="rounded-full"
                src="/src/assets/zell/zell.jpg"
                alt="Zell"
              />
            </div>
            <div
              class="prose-tight card card-purple border-blue-500 text-9 bp6:text-10 bp9:text-11"
            >
              <!-- prettier-ignore -->
              <Markdown>
                I'm a web developer who builds products and thinks about how to live. I started out by teaching front-end development, helping millions of developers become better at building for the web. 

                Over the years, I've invested a large amount of time, money, and energy into learning about psychology and personal development --- this has helped to change the way I see the world. 

                These days, I build products and coach people while creating businesses that syncs with how I work. I bring a dev background and deep interest in psychology to everything I make.
              </Markdown>
              <a
                href="/about/"
                class="button self-start !pigment-purple-filled"
              >
                Read about my story
              </a>
            </div>
          </div>

          <div class="vertical mt-4">
            <hgroup>
              <h2 class="h1 text-zorange-500 june-curious">Now Now Now</h2>
              <p class="h1-subhead">Things I'm focusing on right now</p>
            </hgroup>

            <div class="masonry bp6:[--cols:2]">
              {
                now.map(item => (
                  <div
                    class="vertical card card-orange card-small !max-w-full"
                    style={{
                      '--rowspan': item.cta ? '3' : '2',
                    }}
                  >
                    <h3 class="h3 card-title text-zorange-500">{item.title}</h3>
                    <Markdown>{item.content}</Markdown>
                    {item.cta && (
                      <a
                        href={item.link}
                        class="button button-outline justify-self-start pigment-orange-outline"
                      >
                        {item.cta}
                      </a>
                    )}
                  </div>
                ))
              }
            </div>
          </div>
        </div>

        <div class="vertical gap-large">
          <div class="vertical">
            <div
              class="card-divided card-divided-vertical [--padding:0.75rlh] [--border-color:var(--color-zcyan-500)]"
            >
              <h2 class="h2 text-zcyan-500 text-center">Blog</h2>

              {
                posts.map(post => (
                  <a
                    href={post.data.url || `/blog/${post.data.slug}/`}
                    target={post.data.url ? '_blank' : null}
                    style={{
                      '--border-color': 'inherit',
                      '--bg-hover-color': 'var(--color-zcyan-700)',
                      '--text-hover-color': 'var(--color-zcyan-100)',
                    }}
                  >
                    {post.data.title}
                  </a>
                ))
              }

              <a
                href="/blog"
                class="button button-large py-3 pigment-cyan-filled"
              >
                Read more articles
              </a>
            </div>
          </div>

          <!-- <div class="vertical">
            <div
              class="card-divided card-divided-vertical [--padding:0.75rlh] [--border-color:var(--color-zcyan-500)]"
            >
              <h2 class="h2 text-zcyan-500 text-center">Shorts</h2>

              {
                posts.map(post => (
                  <a
                    href={`/blog/${post.data.slug}`}
                    style={{
                      '--border-color': 'inherit',
                      '--bg-hover-color': 'var(--color-zcyan-700)',
                      '--text-hover-color': 'var(--color-zcyan-100)',
                    }}
                  >
                    {post.data.title}
                  </a>
                ))
              }

              <a
                href="/blog"
                class="button button-large py-3 pigment-cyan-filled"
              >
                See more shorts
              </a>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </section>

  <Partial path="TestimonialSection" />
  <Partial path="FollowMyJourney" />
</Base>
