---
import { FancyList, If } from '@splendidlabz/astro'
import { formatDate } from 'date-fns'

const {
  title,
  price,
  description,
  items,
  buttonText = "See what's inside",
  link,
  available,
  showButton = true,
} = Astro.props

let avDate = null
if (available) avDate = formatDate(new Date(available), 'do MMMM')
---

<div class="card-divided card-divided-vertical bg-zpurple-1000 relative">
  <header class="bg-zpurple-1100 horizontal justify-between items-center">
    {
      available && (
        <div class="pill edge-top border-scaffold border-1 px-3 py-1 bg-zpurple-1100 text-6 text-neutral-500 june">
          Ready by: <strong>{avDate}</strong>
        </div>
      )
    }
    <div class="h4 text-zorange-500">{title}</div>
    <div class="june">{price}</div>
  </header>
  <div class="bg-zpurple-1000 prose flex-grow gap-3">
    <p>{description}</p>
    <FancyList
      class="ml-0 text-8 text-neutral-400 simple-svg fill-zorange-500"
      icon="ph:check"
      {items}
    />
    <If condition={showButton}>
      <If condition={link}>
        <a href={link} class="mt-auto button pigment-orange-filled">
          {buttonText}
        </a>
        <div slot="else" class="mt-auto button pigment-disabled">
          Coming soon
        </div>
      </If>
    </If>
  </div>
</div>
