---
import { If } from '@splendidlabz/astro'
import { FancyList } from '@splendidlabz/astro/svelte'
import { formatDate } from 'date-fns'

const {
  title,
  class: klass,
  showPrice = true,
  price,
  description,
  items,
  lessons,
  lessonsText = 'See the lessons',
  buttonText = "See what's inside",
  link,
  available,
  released,
  showButton = true,
  readyByPosition = 'edge-top',
} = Astro.props

let availableDate = null
if (available) availableDate = formatDate(new Date(available), 'do MMMM')
---

<div class:list={['feature-card ', klass]}>
  <header class="relative">
    {
      (released || available) && (
        <div
          class:list={[
            'pill',
            'border-scaffold border-1 px-3 py-1 bg-zpurple-1100 text-6 text-neutral-500 june',
            readyByPosition,
          ]}
        >
          {released ? (
            <strong>Released</strong>
          ) : (
            <>
              Ready by: <strong>{availableDate}</strong>
            </>
          )}
        </div>
      )
    }
    <div class="h4 text-zorange-500">{title}</div>
    <If condition={showPrice}>
      <div class="june">${price}</div>
    </If>
    <If condition={lessons}>
      <div class="june text-6 text-neutral-500 whitespace-nowrap shrink-0">
        {lessons?.length} lessons
      </div>
    </If>
  </header>
  <div class="content">
    <p>{description}</p>
    <div class="vertical gap-[inherit]">
      <FancyList class="checklist" icon="ph:check" {items} />
      <If condition={lessons}>
        <details class="lesson-list">
          <summary>{lessonsText}</summary>
          <ol>
            {lessons?.map(lesson => <li>{lesson}</li>)}
          </ol>
        </details>
      </If>
    </div>
    <If condition={showButton}>
      <If condition={link}>
        <a href={link} class="mt-auto button pigment-orange-filled">
          {buttonText}
        </a>
        <div slot="else" class="mt-auto button pigment-disabled">
          Website coming soon
        </div>
      </If>
    </If>
  </div>
</div>
