---
import { If } from '@splendidlabz/astro'

const { prev, next, dir = 'blog' } = Astro.props

const prevPath = `/${dir}/${prev?.data.slug}/`
const nextPath = `/${dir}/${next?.data.slug}/`
---

<div class="grid-simple [--cols:2] mt-large">
  <If condition={prev}>
    <a
      class="vertical gap-1 p-3 border-2 rounded-0.75r pigment-cyan-outline-dim"
      href={prevPath}
    >
      <span class="snug-meta text-zpurple-100">Previous</span>
      <span> {prev?.data.title} </span>
    </a>
  </If>

  <If condition={next}>
    <a
      class="vertical gap-1 p-3 border-2 rounded-0.75r pigment-cyan-outline-dim"
      href={nextPath}
    >
      <span class="snug-meta text-zpurple-100">Next</span>
      <span> {next?.data.title} </span>
    </a>
  </If>
</div>
